
<section class="account account-{{route}}">
    <div class="account-bg">
        <div class="account-bg-top">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="account-bg-bottom">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="account-inner">
        <div class="account-left">
            <img src="assets/img/login-4.svg" alt="">
        </div>
        <div class="account-right">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>