<p-dialog header="Header"
          [(visible)]="visible"
          (visibleChange)="voltar()"
          [style]="{width: '900px'}"
          [modal]="true"
          [draggable]="true"
          [resizable]="false"
          [maximizable]="true"
          [closable]="true"
          [closeOnEscape]="true">
    <ng-template pTemplate="header">
        <div class="d-flex align-items-center justify-content-center gap-2">
            <p-avatar icon="bi bi-backpack" shape="circle" size="large"  />
            <h2 class="white-space-nowrap ms-2">Cadastrar</h2>
        </div>
    </ng-template>
    <form #form="ngForm" (ngSubmit)="send(form)">
        <div class="row">
            <div class="d-flex flex-column mb-2 col-sm-6 col-12"> <!-- Nome -->
                <label for="nome" class="mb-1 ms-1">Nome: <span class="text-danger">*</span></label>
                <input type="text"
                       pInputText
                       name="nome"
                       id="nome"
                       name="nome"
                       #nome="ngModel"
                       [(ngModel)]="objeto.nome"
                       placeholder="Nome"
                       pattern="\S(.*\S)?"
                       (change)="objeto.nome = nome.value.trim(); "
                       required />
                <div *ngIf="nome.touched && nome.errors">
                    <p class="text-danger my-0 ms-1" *ngIf="nome.errors['required']">Este campo é obrigatório.</p>
                </div>
            </div>

            <div class="d-flex flex-column mb-2 col-sm-3 col-6"> <!-- Celular -->
                <label for="celular" class="mb-1 ms-1">Celular: <span class="text-danger">*</span></label>
                <input pInputText
                       [mask]="'+00 (00) 0.0000-0000 || +00 (00) 0000-0000 || (00) 0.0000-0000 || (00) 0000-0000 || 0.0000-0000 || 0000-0000'"
                       [showMaskTyped]="true"
                       name="celular"
                       id="celular"
                       #celular="ngModel"
                       [(ngModel)]="objeto.celular"
                       pattern="\S(.*\S)?"
                       (change)="objeto.celular = celular.value.trim(); "
                       [required]="true">
                <div *ngIf="celular.touched && celular.errors">
                    <p class="text-danger my-0 ms-1" *ngIf="celular.errors['required']">Este campo é obrigatório.</p>
                    <p class="text-danger my-0 ms-1" *ngIf="celular.errors['mask']">Celular inválidoS.</p>
                </div>
            </div>
            <div class="d-flex flex-column mb-2 col-sm-3 col-6"> <!-- Data de Nascimento -->
                <label for="dataNascimento" class="mb-1 ms-1">Data de Nascimento: <span class="text-danger">*</span></label>
                <p-calendar dateFormat="dd/mm/yy"
                            [showIcon]="true"
                            [iconDisplay]="'input'"
                            [showButtonBar]="true"
                            appendTo="body"
                            name="dataNascimento"
                            id="dataNascimento"
                            #dataNascimento="ngModel"
                            [placeholder]="'dd/mm/yyyy'"
                            [(ngModel)]="objeto.dataNascimento"
                            [required]="true"></p-calendar>
                <div *ngIf="dataNascimento.touched && dataNascimento.errors">
                    <p class="text-danger my-0 ms-1" *ngIf="dataNascimento.errors['required']">Este campo é obrigatório.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex flex-column mb-2 col-md-4 col-sm-12 col-12"> <!-- Data de Vigência -->
                <label for="dataVigencia" class="mb-1 ms-1">Data de Vigência: <span class="text-danger">*</span></label>
                <p-calendar dateFormat="dd/mm/yy"
                            [showIcon]="true"
                            [iconDisplay]="'input'"
                            [showButtonBar]="true"
                            appendTo="body"
                            selectionMode="range"
                            name="dataVigencia"
                            id="dataVigencia"
                            class="w-100"
                            styleClass="w-100"
                            #_dataVigencia="ngModel"
                            [readonlyInput]="true"
                            [(ngModel)]="dataVigencia"
                            (onSelect)="change($event)"
                            (onClear)="change($event)"
                            [required]="true"></p-calendar>
                <div *ngIf="_dataVigencia.touched && _dataVigencia.errors">
                    <p class="text-danger my-0 ms-1" *ngIf="_dataVigencia.errors['required']">Este campo é obrigatório.</p>
                </div>
            </div>
            <div class="d-flex flex-column mb-2 col-md-4 col-sm-6 col-12"><!-- Perfil -->
                <label for="perfil_Id" class="mb-1 ms-1">Perfil: <span class="text-danger">*</span></label>
                <p-dropdown [options]="perfiList"
                            appendTo="body"
                            class="w-100"
                            styleClass="w-100"
                            inputId="perfil_Id"
                            name="perfil_Id"
                            #perfil_Id="ngModel"
                            [(ngModel)]="objeto.perfil_Id"
                            optionLabel="nome"
                            optionValue="id"
                            [showClear]="false"
                            placeholder="Selecione o perfil do aluno"
                            [required]="true"></p-dropdown>
                <div *ngIf="perfil_Id.touched && perfil_Id.errors">
                    <p class="text-danger my-0 ms-1" *ngIf="perfil_Id.errors['required']">Este campo é obrigatório.</p>
                </div>
            </div>
            <div class="d-flex flex-column mb-2 col-md-4 col-sm-6 col-12"><!-- Turma -->
                <label for="turma_Id" class="mb-1 ms-1">Turma: <span class="text-danger">*</span></label>
                <p-dropdown [options]="turmaList"
                            appendTo="body"
                            class="w-100"
                            styleClass="w-100"
                            inputId="turma_Id"
                            name="turma_Id"
                            #turma_Id="ngModel"
                            [(ngModel)]="objeto.turma_Id"
                            optionLabel="nome"
                            optionValue="id"
                            [showClear]="false"
                            placeholder="Selecione a turma"
                            [required]="true"></p-dropdown>
                <div *ngIf="turma_Id.touched && turma_Id.errors">
                    <p class="text-danger my-0 ms-1" *ngIf="turma_Id.errors['required']">Este campo é obrigatório.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex flex-column mb-2 col-4">
                <label for="sexo_Id" class="mb-1 ms-1">Gênero: <span class="text-danger">*</span></label>
                <p-selectButton [options]="sexoList"
                                inputId="sexo_Id"
                                name="sexo_Id"
                                #sexo_Id="ngModel"
                                [(ngModel)]="objeto.sexo_Id"
                                optionLabel="nome"
                                optionValue="id"
                                [required]="true"></p-selectButton>
                <div *ngIf="sexo_Id.touched && sexo_Id.errors">
                    <p class="text-danger my-0 ms-1" *ngIf="sexo_Id.errors['required']">Este campo é obrigatório.</p>
                </div>
            </div>
            <!-- <div class="d-flex flex-column mb-2 col-md-6 col-sm-6 col-6">
              <label for="status_Id" class="mb-1 ms-1">Status Matrícula: <span class="text-danger">*</span></label>
              <p-dropdown
                          appendTo="body"
                          class="w-100"
                          styleClass="w-100"
                          inputId="status_Id"
                          name="status_Id"
                          #status_Id="ngModel"
                          [(ngModel)]="objeto.status_Id"
                          optionLabel="nome"
                          optionValue="id"
                          [showClear]="false"
                          placeholder="Selecione"
                          [required]="true"></p-dropdown>
              <div *ngIf="status_Id.touched && status_Id.errors">
                  <p class="text-danger my-0 ms-1" *ngIf="status_Id.errors['required']">Este campo é obrigatório.</p>
              </div>
          </div> -->
          </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="d-flex align-items-center justify-content-between">
            <p class="text-danger" *ngIf="form.invalid">Preencha os campos corretamente para salvar.</p>
            <p-button
            icon="pi pi-check"
            (click)="voltar()"
            label="Salvar"
            [loading]="loading"
            [disabled]="loading || form.invalid == true"
            styleClass="me-0"
            pAutoFocus
            [autofocus]="true"></p-button>
        </div>
    </ng-template>
</p-dialog>
