<p-dialog header="Header"
          [(visible)]="visible"
          (visibleChange)="voltar()"
          [style]="{width: '900px'}"
          [modal]="true"
          [draggable]="true"
          [resizable]="false"
          [maximizable]="true"
          [closable]="true"
          [closeOnEscape]="true">
  <ng-template pTemplate="header">
    <div class="d-flex align-items-center justify-content-center gap-2">
      <p-avatar icon="bi bi-mortarboard-fill" shape="circle" size="large" />
      <h2 class="font-bold white-space-nowrap">{{title}}</h2>
    </div>
  </ng-template>
  <form #form="ngForm">
    <div class="row">
      <div class="d-flex flex-column mb-2 col-md-4 col-sm-6 col-12">
        <label for="diaSemana" class="mb-1 ms-1">Dia da semana: <span class="text-danger">*</span></label>
        <p-dropdown

        [options]="diaList"
                    appendTo="body"
                    class="w-100"
                    styleClass="w-100"
                    inputId="diaSemana"
                    name="diaSemana"
                    [(ngModel)]="objeto.diaSemana"
                    #diaSemana="ngModel"
                    id="diaSemana"
                    optionLabel="id"
                    optionValue="id"
                    [showClear]="true"
                    [placeholder]="'Selecione o perfil do aluno'"
                    [required]="true"
                    [filter]="true"
                    [filterFields]="['id']">
        </p-dropdown>
        <div *ngIf="diaSemana?.touched && (diaSemana?.errors || objeto.diaSemana !== 1)">
          <p class="text-danger my-0 ms-1" *ngIf="diaSemana?.errors?.['required']">Este campo é obrigatório.</p>
      </div>
      </div>

      <div class="d-flex flex-column mb-2 col-sm-4 col-4"> <!-- Horário -->


        <label for="horario" class="mb-1 ms-1">Horário: <span class="text-danger">*</span></label>

        <input
               type="time" id="horario" name="horario" [(ngModel)]="objeto.horario" required
               pattern="^\d{2}:\d{2}:\d{2}\.\d{4}$"
               pInputText
               [value]="'time'"
               #horario="ngModel"

               pattern="\S(.*\S)?"
               (change)="objeto.horario = horario.value.trim(); "
               [required]="true">
        <div *ngIf="horario.touched && horario.errors">
          <p class="text-danger my-0 ms-1" *ngIf="horario.errors['required']">Este campo é obrigatório.</p>
          <p class="text-danger my-0 ms-1" *ngIf="horario.errors['mask']">Celular inválidoS.</p>
        </div>
      </div>
      <div class="d-flex flex-column mb-2 col-sm-4 col-4"> <!-- Capacidade de Alunos -->
        <label for="qtdMaxAlunos" class="mb-1 ms-1">Capacidade de Alunos: <span class="text-danger">*</span></label>
        <p-inputNumber [(ngModel)]="objeto.qtdeMaxAlunos"
                       [showButtons]="true"
                       buttonLayout="horizontal"
                       inputId="horizontal"
                       spinnerMode="horizontal"
                       [step]="1"
                       decrementButtonClass="p-button-danger"
                       incrementButtonClass="p-button-success"
                       incrementButtonIcon="pi pi-plus"
                       decrementButtonIcon="pi pi-minus"
                       name="qtdMaxAlunos"
                       id="qtdMaxAlunos"
                       name="qtdMaxAlunos"
                       #qtdMaxAlunos="ngModel"
                       [(ngModel)]="objeto.qtdeMaxAlunos"
                       placeholder="ex: 12"
                       pattern="\S(.*\S)?"
                       [required]="true"
                       (change)="objeto.qtdeMaxAlunos = qtdMaxAlunos.value.trim(); "></p-inputNumber>
        <div *ngIf="qtdMaxAlunos.touched && qtdMaxAlunos.errors">
          <p class="text-danger my-0 ms-1" *ngIf="qtdMaxAlunos.errors['required']">Este campo é obrigatório.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="d-flex flex-column mb-2 col-md-4 col-sm-6 col-12">
        <label for="diaSemana" class="mb-1 ms-1">Unidade: <span class="text-danger">*</span></label>
        <p-dropdown [options]="diaList"
                    appendTo="body"
                    class="w-100"
                    styleClass="w-100"
                    inputId="diaSemana"
                    name="diaSemana"
                    [(ngModel)]="objeto.diaSemana"
                    #diaSemana="ngModel"
                    id="diaSemana"
                    optionLabel="id"
                    optionValue="id"
                    [showClear]="true"
                    [disabled]="loadingEducador"
                    [placeholder]="'Selecione o perfil do aluno'"
                    [required]="isDiaSemanaRequired()"
                    [filter]="true"
                    [filterFields]="['id']">
        </p-dropdown>
        <div *ngIf="diaSemana.touched && diaSemana.errors">
          <p class="text-danger my-0 ms-1" *ngIf="diaSemana.errors['required']">Este campo é obrigatório.</p>
        </div>
      </div> -->



      <div class="d-flex flex-column mb-2 col-md-4 col-sm-6 col-12">
        <label for="educador_Id" class="mb-1 ms-1">Educador: <span class="text-danger">*</span></label>
        <p-dropdown [options]="educadores"
                    appendTo="body"
                    class="w-100"
                    styleClass="w-100"
                    inputId="educador_Id"
                    name="educador_Id"
                    [(ngModel)]="objeto.educador_Id"
                    #educador_Id="ngModel"
                    id="educador_Id"
                    optionLabel="name"
                    optionValue="id"
                    [showClear]="true"
                    [disabled]="loadingEducador"
                    [placeholder]="'Selecione o educador do aluno'"
                    [required]="true"
                    [filter]="true"
                    [filterFields]="['name']"
                    ></p-dropdown>
        <div *ngIf="educador_Id.touched && educador_Id.errors">
          <p class="text-danger my-0 ms-1" *ngIf="educador_Id.errors['required']">Este campo é obrigatório.</p>
        </div>
      </div>

      <div class="d-flex flex-column mb-2 col-md-4 col-sm-6 col-12">
        <label for="perfis" class="mb-1 ms-1">Perfis: <span class="text-danger">*</span></label>
        <p-multiSelect
        [options]="perfisList"
        appendTo="body"
        class="w-100"
        styleClass="w-100"
        [(ngModel)]="objeto.perfis"
        #perfis="ngModel"
        id="perfis"
        name="perfis"
        optionLabel="nome"
        optionValue="id"
        [showClear]="true"
        [disabled]="loadingEducador"
        [placeholder]="'Selecione o educador do aluno'"
        [required]="true"
        [filter]="true"
        [filterFields]="['nome']"

    ></p-multiSelect>
    <div *ngIf="perfis.touched && perfis.errors">
      <p class="text-danger my-0 ms-1" *ngIf="perfis.errors['required']">Este campo é obrigatório.</p>
    </div>
      </div>




    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="d-flex align-items-center justify-content-between">
      <p class="text-danger" *ngIf="form.invalid">Preencha os campos corretamente para salvar.</p>
      <p-button icon="pi pi-check"  label="Salvar" [loading]="loading"
                [disabled]="loading || form.invalid == true" pAutoFocus [autofocus]="true" (click)="send()"></p-button>
    </div>
  </ng-template>
</p-dialog>
