<div class="d-flex justify-content-center align-items-center vh-100">
    <p-card header="Login" subheader="Insira e-mail e senha para acessar." [style]="{ maxWidth: '750px' }"
            class="d-flex justify-content-center align-items-center w-100"
            styleClass="w-100">
        <ng-template pTemplate="header">
        </ng-template>
        <form #form="ngForm" (ngSubmit)="send()">
            <div class="d-flex flex-wrap">
                <div class="col-md-6 col-sm-12 col-12">
                    <div class="h-100 d-flex align-items-center justify-content-center flex-column">
                        <div class="row w-100">
                            <div class="form-group col-12 mb-2 px-0">
                                <div class="form-floating">
                                    <input
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        #email="ngModel"
                                        [(ngModel)]="login.email"
                                        required
                                        placeholder="example@gmail.com"
                                        [pattern]="emailPattern" />
                                        <label for="email">E-mail</label>
                                </div>
                            </div>
                        </div>
                        <div class="row w-100">
                            <div class="form-group col-12 mb-2 px-0">
                                <div class="form-floating">
                                    <input
                                        class="form-control"
                                        id="password"
                                        name="password"
                                        #password="ngModel"
                                        [(ngModel)]="login.password"
                                        placeholder="**"
                                        required
                                        minlength="6" />
                                    <label for="password">Senha</label>
                                </div>
                            </div>
                        </div>
                        <div class="row w-100">
                            <div class="form-group col-12 mb-2 px-0">
                                <p-button type="submit"
                                    label="Entrar"
                                    iconPos="right"
                                    styleClass="w-100"
                                    (click)="send()"
                                    [disabled]="form.invalid || loading"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
                <p-divider layout="vertical"
                            class="col-md-1 col-0 d-md-block d-none"
                           [align]="'center'">
                    <b>OU</b>
                </p-divider>
                <p-divider layout="horizontal"
                            class="col-12 col-0 d-md-none d-block"
                           [align]="'center'">
                    <b>OU</b>
                </p-divider>
                <div class="col-md-5 col-sm-12 col-12">
                    <div class="h-100 d-flex align-items-center justify-content-center flex-column">
                        <h5 class="mb-3">Ainda não possui uma conta?</h5>
                        <p-button label="Me cadastrar" icon="pi pi-user-plus" [routerLink]="['..', 'register']"></p-button>
                    </div>
                </div>
            </div>
        </form>
        <ng-template pTemplate="footer"></ng-template>
    </p-card>