<p-dialog header="Header"
          [(visible)]="visible"
          (visibleChange)="voltar()"
          [style]="{width: '600px'}"
          [modal]="false"
          [draggable]="true"
          [resizable]="false"
          [maximizable]="true"
          [closable]="true"
          [closeOnEscape]="true">
  <ng-template pTemplate="header">
    <div class="d-flex align-items-center justify-content-center gap-2">
      <p-avatar icon="bi bi-table" shape="circle" size="large" />
      <h2 class="font-bold white-space-nowrap">{{title}}</h2>
    </div>
  </ng-template>
  <form #form="ngForm">
    <div class="row">
      <div class="d-flex flex-column mb-2 col-md-6 col-sm-6 col-6"><!-- Aula Faltada -->
        <label for="falta_Aula_Id" class="mb-1 ms-1">Aula Faltada: <span class="text-danger">*</span></label>
        <p-dropdown [options]="aulas"
                    appendTo="body"
                    class="w-100"
                    styleClass="w-100"
                    inputId="falta_Aula_Id"
                    name="falta_Aula_Id"
                    #falta_Aula_Id="ngModel"
                    [(ngModel)]="objeto.falta_Aula_Id"
                    optionLabel="apostilaNome"
                    optionValue="id"
                    [showClear]="false"
                    placeholder="Selecione a aula falta"
                    [required]="true"
                    [filter]="true"
                    [filterFields]="['name']"></p-dropdown>
        <div *ngIf="falta_Aula_Id.touched && falta_Aula_Id.errors">
          <p class="text-danger my-0 ms-1" *ngIf="falta_Aula_Id.errors['required']">Este campo é obrigatório.</p>
        </div>
      </div>
      <div class="d-flex flex-column mb-2 col-md-6 col-sm-6 col-6"><!-- Aula Faltada -->
        <label for="reposicao_Aula_Id" class="mb-1 ms-1">Aula Reposta: <span class="text-danger">*</span></label>
        <p-dropdown [options]="aulas"
                    appendTo="body"
                    class="w-100"
                    styleClass="w-100"
                    inputId="reposicao_Aula_Id"
                    name="reposicao_Aula_Id"
                    #reposicao_Aula_Id="ngModel"
                    [(ngModel)]="objeto.reposicao_Aula_Id"
                    optionLabel="apostilaNome"
                    optionValue="id"
                    [showClear]="false"
                    placeholder="Selecione a aula que será reposta"
                    [required]="true"
                    [filter]="true"
                    [filterFields]="['name']"></p-dropdown>
        <div *ngIf="reposicao_Aula_Id.touched && reposicao_Aula_Id.errors">
          <p class="text-danger my-0 ms-1" *ngIf="reposicao_Aula_Id.errors['required']">Este campo é obrigatório.</p>
        </div>
      </div>
    </div>

  </form>
  <ng-template pTemplate="footer">
    <div class="d-flex align-items-center justify-content-between">
      <p class="text-danger" *ngIf="form.invalid">Preencha os campos corretamente para salvar.</p>
      <p-button icon="pi pi-check" (click)="send()" label="Salvar" [loading]="loading"
                [disabled]="loading || form.invalid == true" pAutoFocus [autofocus]="true"></p-button>
    </div>
  </ng-template>
</p-dialog>

