

<div class="d-flex justify-content-center"
[style]="{ width: '100%', 'max-height':'100vh', 'min-height':'100vh', 'margin': '0'}">
<div
  [style]="{ width: '40%','background-image': 'url(../../../../assets/img/create.png)' , 'background-size': 'cover', 'background-position':'center' }">




</div>
<!-- <p-divider layout="vertical" styleClass="flex md:hidden" [align]="'center'"><b>OU</b></p-divider> -->
<div [style]="{ width: '60%' }" class="d-flex  justify-content-center align-items-center">
<div>
 <div class="mt-5">
   <p-image src="../../../../assets/img/logo.png" alt="Image" width="100" ></p-image>
 </div>
 <div class="d-flex flex-column " [style]="{  'margin-bottom':'8em' }">
   <h1 [style]="{'font-size':'3em' }">Me cadastrar</h1>
   <p [style]="{'margin-bottom':'-3em' }">Insira e-mail e senha para acessar.</p>
 </div>
 <form #form="ngForm" (ngSubmit)="send(form)" >
  <div class=" my-4">
    <span class="p-float-label ">
      <input class=" col-12 form-control"
             pInputText
             id="name"
             name="name"
             #name="ngModel"
             [(ngModel)]="objeto.name"
             placeholder="Informe seu nome"
             required />
      <label for="name">Nome</label>
      <div *ngIf="name.touched && name.errors" class="p-1 py-0">
        <p class="text-danger" *ngIf="name.errors['required']">Este campo é obrigatório.</p>
      </div>
    </span>
  </div>
  <div class=" my-4">
    <span class="p-float-label ">
      <input class="col-12 form-control"
             pInputText
             id="objeto.telefoneCelular"
             name="telefoneCelular"
             #telefoneCelular="ngModel"
             [(ngModel)]="objeto.telefoneCelular"
             placeholder="(xx)xxxx-xxxx"

             required />
      <label for="objeto.telefoneCelular">Telefone/Celular</label>
      <div *ngIf="telefoneCelular.touched && telefoneCelular.errors" class="p-1 py-0">
        <p class="text-danger" *ngIf="telefoneCelular.errors['required']">Este campo é obrigatório.</p>
      </div>
    </span>
  </div>
  <div class=" my-4">
    <span class="p-float-label ">
      <input class=" col-12 form-control"
             pInputText
             id="email"
             name="email"
             #email="ngModel"
             [(ngModel)]="objeto.email"
             placeholder="**"
             required />
      <label for="email">E-mail</label>
      <div *ngIf="email.touched && email.errors" class="p-1 py-0">
        <p class="text-danger" *ngIf="email.errors['required']">Este campo é obrigatório.</p>
      </div>
    </span>
  </div>
  <div class=" my-4">
    <span class="p-float-label ">
      <input [type]="showHide.value ? 'password' : 'text'"
             class="form-control col-12"
             pInputText
             id="password"
             name="password"
             #password="ngModel"
             [(ngModel)]="objeto.password"
             placeholder="******"
             required
             minlength="6">
      <label for="password">
        <span class="form-control-icon">
          <fa-icon [icon]="faLock" *ngIf="!showHide.value"></fa-icon>
          <fa-icon [icon]="faUnlock" *ngIf="showHide.value"></fa-icon>
        </span>
        <span class="ms-3">Senha <span class="text-danger">*</span></span>
      </label>
      <div *ngIf="password.touched && password.errors" class="p-1 py-0">
        <p class="text-danger" *ngIf="password.errors['required']">Este campo é obrigatório.</p>
      </div>
    </span>
  </div>
  <div class=" my-4">
    <span class="p-float-label ">
      <input [type]="showHide.value ? 'password' : 'text'"
             class="form-control col-12 "
             pInputText
             id="confirmPassword"
             name="confirmPassword"
             #confirmPassword="ngModel"
             [(ngModel)]="objeto.confirmPassword"
             placeholder="******"
             required
             minlength="4">
      <label for="confirmPassword">
        <span class="form-control-icon">
          <fa-icon [icon]="faLock" *ngIf="!showHide.value"></fa-icon>
          <fa-icon [icon]="faUnlock" *ngIf="showHide.value"></fa-icon>
        </span>
        <span class="ms-3">Confirmar Senha <span class="text-danger">*</span></span>
      </label>
      <div *ngIf="confirmPassword.errors != null && confirmPassword.touched" class="p-1 py-0">
        <p class="text-danger" *ngIf="confirmPassword.errors['required']">Esse campo é obrigatório</p>
        <p class="text-danger" *ngIf="confirmPassword.errors['minlength']">Confirmação de senha deve conter pelo
          menos 4 caracteres.</p>
      </div>
      <p class="text-danger p-2" *ngIf="password.value != confirmPassword.value">Senhas não são iguais</p>
    </span>
  </div>
  <div class="row">
    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
      <div class="d-flex align-items-center">
        <input type="checkbox"

               name="showHide"
               id="showHide"
               #showHide="ngModel"
               ngModel
               [value]="true">
        <label for="showHide" class="ml-2">
          <span *ngIf="showHide.value">Exibir</span>
          <span *ngIf="!showHide.value">Esconder</span> senha </label>
      </div>
    </div>
  </div>
  <div class="form-group form-floating col-lg-12 col-md-12 col-sm-12 col-12 mb-2 my-2">
    <button pButton type="submit" class="btn btn-primary w-100 p-3" label="Cadastrar" [style]="{ 'background-color': '#feae01', 'border':'none' }"
              [disabled]="form.invalid || loading || (password.value != confirmPassword.value)">

    </button>
  </div>


   <div class="row">
     <p class="text-danger text-center col-12" *ngIf="erro">{{erro}}</p>
     <p class="text-center col-12 mb-3 mt-4">Ao clicar em "cadastrar" você concorda com os <a class="link"
          routerLink="./termos-de-uso">termos de uso</a> do Supera.</p>

   </div>


 </form>
</div>


</div>
</div>

