<div class="d-flex justify-content-center align-items-center">
  <p-card header="Esqueci minha senha" subheader="Insira seus dados nos campos abaixo para efetuar seu cadastro." [style]="{ width: '700px' }"
          class="d-flex justify-content-center align-items-center">
    <form #form="ngForm" (ngSubmit)="send()">
      <div class="d-flex justify-content-center" [style]="{ width: '100%' }">
        <div [style]="{ width: '50%' }">
          <div class=" my-4">
            <span class="p-float-label ">
              <input class=" col-12 form-control"
                     pInputText
                     id="email"
                     name="email"
                     #email="ngModel"
                     [(ngModel)]="object.email"
                     placeholder="**"
                     required
                   />
              <label for="email">E-mail</label>
              <div *ngIf="email.touched && email.errors" class="p-1 py-0">
                <p class="text-danger" *ngIf="email.errors['required']">Este campo é obrigatório.</p>
            </div>
            </span>
          </div>
   <div class="row" *ngIf="erro">
        <p class="text-danger">{{erro}}</p>
    </div>


          <button pButton label="Recuperar senha" type="submit" class="col-12 btn btn-primary py-2"></button>

        </div>
        <p-divider layout="vertical" styleClass="flex md:hidden" [align]="'center'"></p-divider>
        <div [style]="{ width: '50%' }" class="d-flex flex-column justify-content-center align-items-center my-5">
            <img alt="Card" [style]="{ height: '300px', 'object-fit':'cover'}"
          src="../../../../assets/img/box_brain.jpg" />

          <div class="row">
            <p class="text-danger text-center col-12" *ngIf="erro">{{erro}}</p>
            <p class="text-center col-12 mb-3">Ao clicar em "cadastrar" você concorda com os <a class="link" routerLink="./termos-de-uso">termos de uso</a> do zentech.</p>

        </div>
        </div>
      </div>

    </form>



    <ng-template pTemplate="footer">

    </ng-template>
  </p-card>
