<div class="px-0 mb-3">
    <h3 class="account-title mb-0">Esqueci minha senha.</h3>
    <p class="account-text mb-0 ">Enviaremos um link de confirmação para o e-mail informado abaixo.</p>
    <a class="link d-flex" [routerLink]="['..', 'login']">
        <fa-icon [icon]="faChevron" class="me-2"></fa-icon>
        <span style="margin-top: -3px;">voltar</span>
    </a>
</div>
<form #form="ngForm" (ngSubmit)="send()">
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
            <div class="form-floating">
                <input type="email"
                       email
                       class="form-control"
                       id="email"
                       name="email"
                       #email="ngModel"
                       [(ngModel)]="object.email"
                       placeholder="example@gmail.com"
                       required
                       [pattern]="emailPattern">
                <label for="email">
                    <span class="form-control-icon"><fa-icon [icon]="faEnvelope"></fa-icon></span>
                    <span class="ms-3">E-mail <span class="text-danger">*</span></span>
                </label>
            </div>
            <div *ngIf="email.errors != null && email.touched" class="p-1 pb-0">
                <p class="text-danger" *ngIf="email.errors['required']">Este campo é obrigatório.</p>
                <p class="text-danger" *ngIf="email.errors['email']">E-mail inválido</p>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="erro">
        <p class="text-danger">{{erro}}</p>
    </div>
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
            <button type="submit" class="btn btn-primary w-100 py-2">Recuperar senha</button>
        </div>
    </div>
</form>