<p-dialog header="Header"
          [(visible)]="visible"
          (visibleChange)="voltar()"
          [style]="{width: '900px'}"
          [modal]="true"
          [draggable]="true"
          [resizable]="false"
          [maximizable]="true"
          [closable]="true"
          [closeOnEscape]="true">
  <ng-template pTemplate="header">
    <div class="d-flex align-items-center justify-content-center gap-2">
      <p-avatar icon="bi bi-backpack" shape="circle" size="large" />
      <h2 class="font-bold white-space-nowrap">Cadastrar</h2>
    </div>
  </ng-template>
  <form #form="ngForm">
    <div class="row">
      <div class="d-flex flex-column mb-2 col-sm-6 col-12"> <!-- Nome -->
        <label for="nomeEducador" class="mb-1 ms-1">Educador: <span class="text-danger">*</span></label>
        <input type="text"
               pInputText
               name="nomeEducador"
               id="nomeEducador"
               name="nomeEducador"
               #nomeEducador="ngModel"
               [(ngModel)]="objeto.nomeEducador"
               placeholder="NomeEducador"
               pattern="\S(.*\S)?"
               (change)="objeto.nomeEducador = nomeEducador.value.trim(); "
               required />
        <div *ngIf="nomeEducador.touched && nomeEducador.errors">
          <p class="text-danger my-0 ms-1" *ngIf="nomeEducador.errors['required']">Este campo é obrigatório.</p>
        </div>
      </div>
      <div class="d-flex flex-column mb-2 col-sm-6 col-12"> <!-- Apostila -->
        <label for="apostila" class="mb-1 ms-1">Apostila: <span class="text-danger">*</span></label>
        <input type="text"
               pInputText
               name="apostila"
               id="apostila"
               name="apostila"
               #apostila="ngModel"
               [(ngModel)]="objeto.apostila"
               placeholder="apostila"
               pattern="\S(.*\S)?"
               (change)="objeto.apostila = apostila.value.trim(); "
               required />
        <div *ngIf="apostila.touched && apostila.errors">
          <p class="text-danger my-0 ms-1" *ngIf="apostila.errors['required']">Este campo é obrigatório.</p>
        </div>
      </div>
      <p-inputNumber [(ngModel)]="objeto.nomeEducador" [showButtons]="true" buttonLayout="horizontal"
                     inputId="horizontal" spinnerMode="horizontal" [step]="0.25"
                     decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                     incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="currency"
                     currency="EUR"></p-inputNumber>
    </div>
    <div class="row">
      <div class="d-flex flex-column mb-2 col-sm-6 col-12"> <!-- Nome -->
        <label for="falta" class="mb-1 ms-1">Falta: <span class="text-danger">*</span></label>
        <input type="text"
               pInputText
               name="falta"
               id="falta"
               name="falta"
               #falta="ngModel"
               [(ngModel)]="objeto.falta"
               placeholder="falta"
               pattern="\S(.*\S)?"
               (change)="objeto.falta = falta.value.trim(); "
               required />
        <div *ngIf="falta.touched && falta.errors">
          <p class="text-danger my-0 ms-1" *ngIf="falta.errors['required']">Este campo é obrigatório.</p>
        </div>
      </div>
      <div class="d-flex flex-column mb-2 col-sm-6 col-12"> <!-- Nome -->
        <label for="reposicao" class="mb-1 ms-1">Reposição: <span class="text-danger">*</span></label>
        <input type="text"
               pInputText
               name="reposicao"
               id="reposicao"
               name="reposicao"
               #reposicao="ngModel"
               [(ngModel)]="objeto.reposicao"
               placeholder="reposicao"
               pattern="\S(.*\S)?"
               (change)="objeto.reposicao = reposicao.value.trim(); "
               required />
        <div *ngIf="reposicao.touched && reposicao.errors">
          <p class="text-danger my-0 ms-1" *ngIf="reposicao.errors['required']">Este campo é obrigatório.</p>
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="d-flex align-items-center justify-content-between">
      <p class="text-danger" *ngIf="form.invalid">Preencha os campos corretamente para salvar.</p>
      <p-button icon="pi pi-check" (click)="voltar()" label="Salvar" [loading]="loading"
                [disabled]="loading || form.invalid == true" pAutoFocus [autofocus]="true"></p-button>
    </div>
  </ng-template>
</p-dialog>
