<p-dialog header="Header"
          [(visible)]="visible"
          (visibleChange)="voltar()"
          [style]="{width: '900px'}"
          [modal]="true"
          [resizable]="false"
          [closable]="true"
          [closeOnEscape]="true"
          [draggable]="false"
          [resizable]="false"
          [maximizable]="true">
  <ng-template pTemplate="header">
    <div class="d-flex align-items-center justify-content-center gap-2">
      <p-avatar icon="pi pi-clock" shape="circle" size="large" />
      <h2 class="font-bold white-space-nowrap">{{title}}</h2>
    </div>
  </ng-template>
  <form #form="ngForm">
    <div class="row">
      <div class="d-flex flex-column mb-8 col-sm-8 col-8"> <!-- Nome -->
        <label for="descricao" class="mb-1 ms-1">Descrição: <span class="text-danger">*</span></label>
        <input type="numer"
               pInputText
               name="descricao"
               id="descricao"
               name="descricao"
               #descricao="ngModel"
               [(ngModel)]="objeto.aula.descricao"
               placeholder="Adicione uma descrição"
               pattern="\S(.*\S)?"
               (change)="objeto.aula.descricao = descricao.value.trim(); "
               required />
        <div *ngIf="descricao.touched && descricao.errors">
          <p class="text-danger my-0 ms-1" *ngIf="descricao.errors['required']">Este campo é obrigatório.</p>
        </div>
      </div>
      <div class="d-flex flex-column mb-3 col-sm-3 col-3">
        <label for="data" class="mb-1 ms-1">Data: <span class="text-danger">*</span></label>
        <p-calendar dateFormat="dd/mm/yy"
                    [showIcon]="true"
                    [iconDisplay]="'input'"
                    [showButtonBar]="true"
                    appendTo="body"
                    name="data"
                    id="data"
                    (onSelect)="change($event)"
                    (onClear)="change($event)"
                    #data="ngModel"
                    [placeholder]="'dd/mm/yyyy'"
                    [(ngModel)]="objeto.aula.data"
                    [required]="true"></p-calendar>
        <div *ngIf="data.touched && data.errors">
          <p class="text-danger my-0 ms-1" *ngIf="data.errors['required']">Este campo é obrigatório.</p>
        </div>
      </div>
    </div>
    <!-- <div class="row">

      <div class="d-flex flex-column justify-content-start mb-3 col-sm-3 col-3">
        <label for="realizada" class="mb-1 ms-1">Realizada: <span class="text-danger">*</span></label>
        <p-selectButton [options]="booleanList"
                        inputId="realizada"
                        name="realizada"
                        #realizada="ngModel"
                        [(ngModel)]="objeto.aula.realizada"
                        optionLabel="nome"
                        optionValue="boolean"
                        [required]="true"></p-selectButton>
        <div *ngIf="realizada.touched && realizada.errors">
          <p class="text-danger my-0 ms-1" *ngIf="realizada.errors['required']">Este campo é obrigatório.</p>
        </div>
      </div>
    </div> -->
  </form>
  <ng-template pTemplate="footer">
    <div class="d-flex align-items-center justify-content-between">
      <p class="text-danger" *ngIf="form.invalid">Preencha os campos corretamente para salvar.</p>
      <p-button icon="pi pi-check" (click)="send()" label="Salvar" [loading]="loading"
                [disabled]="loading || form.invalid == true" pAutoFocus [autofocus]="true"></p-button>
    </div>
  </ng-template>
</p-dialog>
<!-- <app-list-shared></app-list-shared> -->
