<div class="px-0 mb-3">
    <h3 class="account-title mb-0">Login</h3>
    <p class="account-text mb-0">Insira e-mail e senha para acessar.</p>
</div>

<form #form="ngForm" (ngSubmit)="send()">
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
            <div class="form-floating">
                <input type="email"
                       email
                       class="form-control"
                       id="email"
                       name="email"
                       #email="ngModel"
                       [(ngModel)]="login.email"
                       placeholder="example@gmail.com"
                       required
                       [pattern]="emailPattern">
                <label for="email">
                    <span class="form-control-icon"><fa-icon [icon]="faEnvelope"></fa-icon></span>
                    <span class="ms-3">E-mail <span class="text-danger">*</span></span>
                </label>
            </div>
            <div *ngIf="email.errors != null && email.touched" class="p-1 py-0">
                <p class="text-danger" *ngIf="email.errors['required']">Este campo é obrigatório.</p>
                <p class="text-danger" *ngIf="email.errors['email']">E-mail inválido.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
            <div class="form-floating">
                <input [type]="_showHide.value ? 'text' : 'password'"
                       class="form-control"
                       id="password"
                       name="password"
                       #password="ngModel"
                       [(ngModel)]="login.password"
                       placeholder="******"
                       required
                       minlength="6">
                <label for="password">
                    <span class="form-control-icon">
                        <fa-icon [icon]="faLock" *ngIf="!_showHide.value"></fa-icon>
                        <fa-icon [icon]="faUnlock" *ngIf="_showHide.value"></fa-icon>
                    </span>
                    <span class="ms-3">Senha <span class="text-danger">*</span></span>
                </label>
            </div>
            <div *ngIf="password.errors != null && password.touched" class="p-1 py-0">
                <p class="text-danger" *ngIf="password.errors['required']">Este campo é obrigatório.</p>
                <p class="text-danger" *ngIf="password.errors['minlength']">A senha deve conter pelo menos 6 caracteres.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-7 col-md-7 col-sm-7 col-12">
            <div class="d-flex align-items-center">
                <p-checkbox name="showHide"
                            id="showHide"
                            inputId="showHide"
                            #_showHide="ngModel"
                            [(ngModel)]="showHide"
                            [value]="true"
                            [trueValue]="true"
                            [falseValue]="false"></p-checkbox>
                <label for="showHide" class="ml-2">
                    <span *ngIf="!_showHide.value">Exibir</span>
                    <span *ngIf="_showHide.value">Esconder</span> senha </label>
            </div>
        </div>
    </div>
    <div class="text-center text-wrap-balance col-12 px-0">
        <p class="text-danger mb-2" *ngIf="err">{{err}}</p>
        <p class="mt-1 mb-3"> Ao logar você concorda com os <a class="link" routerLink="./termos-de-uso">termos de uso</a>. </p>
    </div>
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
            <button type="submit" class="btn btn-primary w-100 py-2" [disabled]="form.invalid || loading">Entrar</button>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <a class="link" [routerLink]="['..', 'register']">Me cadastrar</a>
        </div>
        <div class=" text-right col-lg-6 col-md-6 col-sm-6 col-12">
            <a class="link" [routerLink]="['..', 'forgot-password']">Esqueci minha senha</a>
        </div>
    </div>
</form>