<p-dialog header="Header"
          [(visible)]="visible"
          (visibleChange)="voltar()"
          [style]="{width: '900px'}"
          [modal]="true"
          [draggable]="true"
          [resizable]="false"
          [maximizable]="true"
          [closable]="true"
          [closeOnEscape]="true">
  <ng-template pTemplate="header">
    <div class="d-flex align-items-center justify-content-center gap-2">
      <p-avatar icon="bi bi-backpack" shape="circle" size="large" />
      <h2 class="font-bold white-space-nowrap">{{title}}</h2>
    </div>
  </ng-template>
  <form #form="ngForm">
    <div class="row">
      <div class="d-flex flex-column  mb-2 col-sm-4 col-4"> <!-- Nome -->
        <label for="name" class="mb-1 ms-1">Nome: <span class="text-danger">*</span></label>
        <input type="text"
               pInputText
               name="name"
               id="name"
               name="name"
               #name="ngModel"
               [(ngModel)]="objeto.name"
               placeholder="Insira o nome do usuário"
               pattern="\S(.*\S)?"
               (change)="objeto.name = name.value.trim(); "
               required />
        <div *ngIf="name.touched && name.errors">
          <p class="text-danger my-0 ms-1" *ngIf="name.errors['required']">Este campo é obrigatório.</p>
        </div>
      </div>
      <div class="d-flex flex-column mb-2 col-sm-4 col-4"> <!-- E-mail  -->
        <label for="email" class="mb-1 ms-1"> E-mail : <span class="text-danger">*</span></label>
        <input type="email"
               pInputText
               name="email"
               id="email"
               name="email"
               #email="ngModel"
               [(ngModel)]="objeto.email"
               placeholder="exemplo@gmail.com"
               pattern="\S(.*\S)?"
               (change)="objeto.email = email.value.trim(); "
               required />
        <div *ngIf="email.touched && email.errors">
          <p class="text-danger my-0 ms-1" *ngIf="email.errors['required']">Este campo é obrigatório.</p>
        </div>
      </div>
      <div class="d-flex flex-column mb-2 col-sm-4 col-6"> <!-- Celular -->
        <label for="telefoneCelular" class="mb-1 ms-1">Telefone/Celular: <span class="text-danger">*</span></label>
        <input pInputText
               [mask]="'+00 (00) 0.0000-0000 || +00 (00) 0000-0000 || (00) 0.0000-0000 || (00) 0000-0000 || 0.0000-0000 || 0000-0000'"
               name="telefoneCelular"
               id="telefoneCelular"
               #telefoneCelular="ngModel"
               [placeholder]="'0.0000-0000'"
               [(ngModel)]="objeto.telefoneCelular"
               pattern="\S(.*\S)?"
               (change)="objeto.telefoneCelular = telefoneCelular.value.trim(); "
               [required]="true">
        <div *ngIf="telefoneCelular.touched && telefoneCelular.errors">
          <p class="text-danger my-0 ms-1" *ngIf="telefoneCelular.errors['required']">Este campo é obrigatório.</p>
          <p class="text-danger my-0 ms-1" *ngIf="telefoneCelular.errors['mask']">Celular inválido.</p>
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="d-flex align-items-center justify-content-between">
        <p class="text-danger" *ngIf="form.invalid">Preencha os campos corretamente para salvar.</p>
        <p-button icon="pi pi-check" (click)="send()" label="Salvar" [loading]="loading" [disabled]="loading || form.invalid == true" pAutoFocus [autofocus]="true"></p-button>
    </div>
</ng-template>
</p-dialog>
